<div class="grid-x">
  <h3>Пригласите на событие</h3>
</div>

<% form({ method: :post }, {obj: @parameters }) do |f| %>
  <div class="grid-x grid-margin-x"> 
    <div class="cell large-12">
      <%= f.input(:relation, type: :text, label: 'Статус приглашенного', placeholder: 'подружка')%>
    </div>
    <div class="cell large-12">
      <%= f.input(:event, type: :text, label: 'Название праздника', placeholder: 'мой день рождения')%>
    </div>
    <div>
      <%= f.button(value: 'Создать приглашение', class: 'success button')%>
      <a class="button secondary" href="<%= contacts_path%>">Отмена</a>
    </div>
  </div> 
<% end %>